!!!
html
  head
    meta(charset="utf-8")
    title ズルい stylus
    link(rel='stylesheet', href='zurui-test.css')
  body
    h1 ズルいデザインをStylusで
    p コレはズルいデザインで紹介されていたSASS+CompassのテクをStylus+nibで実装してみたものです
    ul
      li: a(href="https://speakerdeck.com/ken_c_lo/zurui-design") zurui-design

    h2 ズルい線
    .zline
      ul
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン

    h2 ズルいグラディエント（トップが若干暗い） 
    .zdarkgrad
      ul
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン

    h2 ズルいグラディエント（トップが若干明るい） 
    .zlightgrad
      ul
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン
       li ズルいデザイン
