@import 'zurui'

body
  background #ffffff url('wood.png')

.zline
  zurui-line-top()
  zurui-line-left()
  zurui-line-right()
  zurui-line-bottom()
  width: 50%

.zdarkgrad
  zurui-gradient-top-darken()
  border-radius(5px)
  width: 50%

.zlightgrad
  zurui-gradient-top-lighten()
  border-radius(5px)
  width: 50%
